---

---

<section class="my-4 lg:my-16">  <!-- Section with padding top and bottom (responsive) -->
  <div class="container">  <!-- Container to center content -->
      <div class="relative flex flex-1 flex-col justify-around rounded-lg pb-10 pt-20 lg:rounded-2xl">  <!-- Flex container with column direction, center alignment, responsive start alignment -->
        <h1 class="text-center font-display text-6xl font-extrabold sm:text-7xl md:text-8xl lg:text-8xl">  <!-- Heading 1 with center alignment, large text size, responsive alignment and size -->
          <slot><span class="text-gradient">Hi there,</span> I'm Fathir!</slot>  <!-- Slot for content with gradient text -->
        </h1>
        <div class="flex flex-col items-center gap-5 text-center lg:gap-10">
          <p class="mt-8 max-w-3xl font-mono lg:text-lg">  <!-- Paragraph with large text size and center alignment -->
            Hai saya Muhammad Fathir Al Faruq, saya merupakan siswa dari MA NU 01 Banyuputih. Hobi saya adalah mempelajari sebuah kode pemrograman JS yang mengenai AI atau Bot.
          </p>
        </div>
      </div>  <!-- End of flex container -->
  </div>  <!-- End of container -->
</section>  <!-- End of section -->

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
