---
// Import the ResponsiveToggle component for responsive menu functionality.
import ResponsiveToggle from './ResponsiveToggle.astro'
// Import the DarkMode component for toggling dark mode.
import { DarkMode } from 'accessible-astro-components'
// Import the Image component from Astro for handling images.
import { Image } from 'astro:assets'
// Import the logo image.
import logo from '../assets/img/logo.jpg'

import { defaultSiteConfig } from '../config/site'

// Get current config
const configPath = 'src/config/site.json'
let currentConfig = defaultSiteConfig

try {
  const config = await import('../config/site.json')
  currentConfig = { ...defaultSiteConfig, ...config.default }
} catch (error) {
  // Use default config if file doesn't exist
}
---

<!-- // Main navigation container.  It's desktop by default and includes padding. -->
<div id="main-navigation" class="is-desktop py-8">

  <div class="container">
    <!-- {/* Logo and site title */} -->
    <a href="/" class="flex items-center gap-2 !no-underline">
      <Image src={logo} alt="Your Logo" width="37" height="27" class="circular-image"/>
      <span class="font-bold">{currentConfig.name}</span>
    </a>

    <!-- {/* Wrapper for desktop menu, dark mode toggle, and responsive toggle */} -->
    <div class="wrapper">
      <!-- {/* Desktop navigation menu */} -->
      <nav class="desktop-menu" aria-label="Main navigation desktop">
        <ul class="menu">
          <!-- {/* Menu items will be injected here via a slot */} -->
          <slot />
        </ul>
      </nav>
      <!-- {/* Dark mode toggle button */} -->
      <DarkMode />
      <!-- {/* Responsive menu toggle button (only visible on mobile) */} -->
      <ResponsiveToggle />
    </div>

    <!-- {/* Mobile navigation menu (hidden by default, shown by JavaScript) */} -->
    <nav class="mobile-menu" aria-label="Main navigation mobile">
      <ul class="menu text-center items-center">
        <!-- {/* Menu items will be injected here via a slot */} -->
        <slot />
      </ul>
    </nav>

  </div>
</div>

<!-- {/* JavaScript for handling menu behavior */} -->
<script>
  document.addEventListener('astro:page-load', () => {
    // Variables
    const mainNav = document.querySelector('#main-navigation')
    const mainMenu = mainNav.querySelector('ul')
    const dropdownMenus = [...document.querySelectorAll('.has-dropdown button')]

    // functions
    const setActiveMenuItem = () => {
      const mobileDesktopMenus = mainNav.querySelectorAll('nav > ul')
      const currentPathname = window.location.pathname

      mobileDesktopMenus.forEach((menu) => {
        const menuItems = [...menu.querySelectorAll('a:not([rel*="external"])')] as HTMLAnchorElement[]

        menuItems.forEach((menuItem) => {
          // Check if the current path includes the menu item's path (without slashes)
          // and the menu item is not the "Home" link.
          if (currentPathname.includes(menuItem.pathname.replaceAll('/', '')) && menuItem.textContent !== 'Home') {
            // If it matches, add the 'is-active' class for styling and set 'aria-current' for accessibility.
            menuItem.classList.add('is-active')
            menuItem.setAttribute('aria-current', 'page')
          } 
          // Special case for the "Home" link:  If the current path is the root path ("/"),
          // set the "Home" link as active.
          else if (menuItem.textContent === 'Home' && currentPathname === '/') {
            menuItem.classList.add('is-active')
            menuItem.setAttribute('aria-current', 'page')
          }
        })
      })
    }

    const checkMenuSize = () => {
      // Get the widths of the main navigation and the desktop menu.
      const mainNavWidth = mainNav.getBoundingClientRect().width
      const desktopMenuWidth = document.querySelector('.desktop-menu').getBoundingClientRect().width
      // Add a buffer for the logo width to consider in the calculation.
      const logoWidthBuffer = 300
      const totalMenuWidth = Math.round(desktopMenuWidth) + logoWidthBuffer

      // Determine if the menu should be displayed as "desktop" or "mobile" based on available space.
      if (totalMenuWidth >= mainNavWidth) {
        // If the menu is too wide, switch to mobile view.
        mainNav.classList.remove('is-desktop')
        mainNav.classList.add('is-mobile')
      } else if (totalMenuWidth <= mainNavWidth) {
        mainNav.classList.add('is-desktop')
        mainNav.classList.remove('is-mobile')
      }
    }

    // Check if an element is out of the viewport's right edge.
    const isOutOfViewport = (element) => {
      const elementBounds = element.getBoundingClientRect()
      return elementBounds.right > (window.innerWidth || document.documentElement.clientWidth)
    }

    const openDropdownMenu = (dropdownMenu) => {
      const dropdownList = dropdownMenu.parentNode.querySelector('ul')

      dropdownMenu.classList.add('show')
      dropdownMenu.setAttribute('aria-expanded', 'true')
      // If the dropdown is out of the viewport, adjust its position.

      if (isOutOfViewport(dropdownList)) {
        dropdownList.style.left = 'auto'
      }
    }

    const closeDropdownMenu = (dropdownMenu) => {
      // Hide the dropdown menu and set aria-expanded to false.
      dropdownMenu.classList.remove('show')
      dropdownMenu.setAttribute('aria-expanded', 'false')
    }

    // Close all dropdown menus.
    const closeAllDropdownMenus = () => {
      for (let i = 0; i < dropdownMenus.length; i++) {
        closeDropdownMenu(dropdownMenus[i])
      }
    }

    const toggleDropdownMenu = (event) => {
      // Toggle the visibility of a dropdown menu.
      if (event.target.getAttribute('aria-expanded') === 'false') {
        closeAllDropdownMenus()
        openDropdownMenu(event.target)
      } else {
        closeDropdownMenu(event.target)
      }
    }

    // Execution
    mainMenu &&
      mainMenu.addEventListener('keydown', (event) => {
        const element = event.target as Element
        const currentMenuItem = element.closest('li')
        const menuItems = [...mainMenu.querySelectorAll('.menu-item')]
        const currentDropdownMenu = element.closest('.has-dropdown button')
        const currentDropdownMenuItem = element.closest('.has-dropdown li')
        const currentIndex = menuItems.findIndex((item) => item === currentMenuItem)

        const key = event.key
        let targetItem

        // Handle ArrowRight key:  Move focus to the next menu item (loop to start if at the end).
        if (key === 'ArrowRight') {
          if (menuItems.indexOf(currentMenuItem) === menuItems.length - 1) {
            targetItem = menuItems[0]
          } else {
            targetItem = menuItems[currentIndex + 1]
          }
        }

        // Handle ArrowLeft key: Move focus to the previous menu item (loop to the end if at the start).
        if (key === 'ArrowLeft') {
          if (menuItems.indexOf(currentMenuItem) === 0) {
            targetItem = menuItems[menuItems.length - 1]
          } else {
            targetItem = menuItems[currentIndex - 1]
          }
        }

        // Handle Escape key: Move focus to the first menu item.
        if (key === 'Escape') {
          targetItem = menuItems[0]
        }

        // Handle key presses within a dropdown menu (if one is currently active).
        if (currentDropdownMenu) {
          const firstDropdownItem = currentDropdownMenu.nextElementSibling.querySelector('li')

          if (key === 'ArrowDown') {
            event.preventDefault()
            openDropdownMenu(currentDropdownMenu)
            targetItem = firstDropdownItem
          }
          // Handle Escape key within a dropdown: Close the dropdown.
          if (key === 'Escape') {
            closeDropdownMenu(currentDropdownMenu)
          }
        }

        // Handle key presses for menu items within an open dropdown.

        if (currentDropdownMenuItem) {
          const currentDropdownList = currentDropdownMenuItem.parentNode
          const dropdownMenuItems = [...currentDropdownList.querySelectorAll('li')]
          const currentIndex = dropdownMenuItems.findIndex((item) => item === currentDropdownMenuItem)

          if (key === 'ArrowDown') {
            event.preventDefault()

            if (dropdownMenuItems.indexOf(currentDropdownMenuItem as HTMLLIElement) === dropdownMenuItems.length - 1) {
              targetItem = dropdownMenuItems[0]
            } else {
              targetItem = dropdownMenuItems[currentIndex + 1]
            }
          }

          if (key === 'ArrowUp') {
            event.preventDefault()

            if (dropdownMenuItems.indexOf(currentDropdownMenuItem as HTMLLIElement) === 0) {
              targetItem = dropdownMenuItems[dropdownMenuItems.length - 1]
            } else {
              targetItem = dropdownMenuItems[currentIndex - 1]
            }
          }
          // Handle Escape key within a dropdown menu item: Close all dropdowns and focus on the parent menu item.
          if (key === 'Escape') {
            const currentDropdownMenu = (currentDropdownList as Element).previousElementSibling
            targetItem = currentDropdownMenu.parentNode
            closeAllDropdownMenus()
          }

          // Handle Tab key within a dropdown menu item: Close the dropdown if it's the last item.
          if (key === 'Tab') {
            const currentDropdownMenu = (currentDropdownList as Element).previousElementSibling

            if (dropdownMenuItems.indexOf(currentDropdownMenuItem as HTMLLIElement) === dropdownMenuItems.length - 1) {
              closeDropdownMenu(currentDropdownMenu)
            }
          }
        }

        // Set focus on the target menu item (if any).
        if (targetItem) {
          targetItem.querySelector('a, button, input').focus()
        }
      })

    dropdownMenus &&
      dropdownMenus.forEach((dropdownMenu) => {
        dropdownMenu.addEventListener('click', toggleDropdownMenu)
      })

    // Initialize the active menu item based on the current URL.
    setActiveMenuItem()
    // Determine initial menu size (desktop or mobile).
    checkMenuSize()

    // Update menu size on window resize.
    window.addEventListener('resize', checkMenuSize)
    window.addEventListener('click', (event) => {
      const element = event.target as Element  // Corrected typo here: 'event.targer' to 'event.target'
      if (!element.hasAttribute('aria-haspopup') && !element.classList.contains('submenu-item')) {
        closeAllDropdownMenus()
      }
    })
  })
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/outline' as *;

  .circular-image {
  border-radius: 50%;
}

  #main-navigation {
    > .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &.is-desktop {

      .mobile-menu {
        display: none;
      }
      
      .desktop-menu {
        position: static;
        visibility: visible;
      }

      .darkmode-toggle {
        margin-top: -6px;
      }
    }

    &.is-mobile {
      flex-direction: column;

      .mobile-menu {
        display: none;

        &.show {
          display: block;
        }
      }

      .desktop-menu {
        position: absolute;
        left: 0;
        visibility: hidden;
        z-index: -99;
      }

      .responsive-toggle {
        display: block;
      }
    }

    .wrapper {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    nav {
      > ul {
        display: flex;
        gap: 1.5rem;
        list-style-type: none;

        a,
        button {
          font-size: 1.125rem;
          line-height: 1.6875rem;
          text-decoration: none;
        }

        a:hover,
        a:focus,
        .is-active,
        .has-dropdown > button:hover,
        .has-dropdown > button:focus {
          // text-decoration: underline;
          // text-decoration-style: line;
          text-decoration-thickness: 1px;
          text-underline-offset: 7px;
        }

        .is-active {
          font-weight: bold;
        }
      }
    }

    .mobile-menu {
      flex-basis: 100%;
      padding: 2rem 0;

      > ul {
        flex-direction: column;

        ul {
          position: relative;
          margin-top: 1rem;
        }
      }

      a,
      button {
        display: block;
        padding: 0.5rem 0;
        width: 100%;
      }
    }

    .has-dropdown {
      position: relative;

      > button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: -1px;
        border: none;
        padding: 0;
        color: var(--action-color);

        &:hover {
          color: var(--action-color-state);

          &::after {
            border-color: var(--action-color-state);
          }
        }

        &::after {
          transform: rotate(135deg);
          margin-top: -0.25rem;
          border-width: 0.2em 0.2em 0 0;
          border-style: solid;
          border-color: var(--action-color);
          width: 0.85rem;
          height: 0.75em;
          content: '';
        }

        &.show {
          &::after {
            transform: rotate(-45deg);
            margin-top: 0.25rem;
          }

          ~ ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
          }
        }
      }

      ul {
        display: none;
        position: absolute;
        top: 125%;
        right: 0;
        bottom: auto;
        left: 0;
        z-index: 100;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
        border: 2px solid black;
        background-color: var(--neutral-background);
        padding: 1rem;
        min-width: 260px;
      }
    }

    .darkmode-toggle {
      border: none;
      padding: 0;

      .icon {
        margin-top: 4px;
        inline-size: 30px;
        block-size: 30px;
      }

      svg path {
        fill: var(--action-color);
      }

      &:hover {
        box-shadow: none;

        svg path {
          fill: var(--action-color-state);
        }
      }

      &:focus {
        @include outline;

        &:not(:focus-visible) {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
</style>
